streamlit
torch
numpy==1.26.4
pandas
matplotlib
networkx
geopandas
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-groq==0.1.9
langchainhub==0.1.21
chromadb
pypdf
sentence-transformers
torch-geometric
